@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
    
}


@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//Media query manager

/*
0 - 600 px  = phone
600 - 900 = Tablet Portrait
900 - 1200 = Tablet Landscape
1200 - 1800 = Normal - Desktop First]
1800 +  = Dig Desktop
*/

    /* 
    - phone
    - tab-port
    -tab-land
    -big-desktop
    */
    @mixin respond($breakpoint){
        @if $breakpoint == phone{
            @media(max-width: 37.5em){@content}; // 600px
        }
        @if $breakpoint == tab-port{
            @media(max-width: 56.25em){@content}; //900px
        }
        @if $breakpoint == tab-land{
            @media(max-width: 75em){@content}; // 1200
        }
        @if $breakpoint == big-desktop{
            @media(min-width: 112.5em){@content}; //1800px
        }
    }