//Color
$color-primary: #7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-grey-dark-2:#999;

//Grid variables
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;


//Font sizes
$default-font-size:1.6rem;
 


//Bordrer Radius

