

.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.74),hsla(160, 93%, 57%, 0.705)),url(../img/hero.jpg);
    background-size: cover; 
    background-position: top;
    clip-path: polygon(0 0 ,100% 0,100% 85%, 0 100%);
    @include respond(phone){
        clip-path: polygon(0 0 ,100% 0,100% 85vh, 0 100%);
    }
    &__logo-box{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    &__logo{
        height: 35px;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center 
   }
    
}

