.btn{
    &,
    &:link,
    &:visited{
        font-family: inherit;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px; 
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        animation-name: moveInBottom;
        animation-duration: 1.7s;

        border: none; 
        cursor: pointer;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
        font-weight: 900;   
        &::after{
            transform:scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }
    &--green{
        background-color: $color-primary;
        color: $color-white;
        &::after{
            background-color: $color-primary;
        }
    }
    
    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    
    
    }


    .btn-text{
        &:link,
        &:visited{
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            font-size:$default-font-size;
            transition: all .3s;
        }
        &:hover{
            background-color:$color-primary;
            color:$color-white;
            box-shadow:  0 1rem 2rem rgba($color-black,.15);
            transform: translateY(-2px);
        }
        &:active{
            box-shadow:  0 .5rem 1rem rgba($color-black,.15);
            transform: translateY(0px);
        }
    }