.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link, &:visited{
            color: #333;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s; 
            line-height: 1;
        }
        &:hover{
            color: $color-primary;
        }
  
    }
    &__content{
        @include absCenter;
        width: 75%;
        background-color: #fff;
        height: 50rem;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s;
    }
    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__left{
        width: 33.333333%;
        display:table-cell;
      
    }
    &__right{
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__img{
        display: block;
        width: 100%;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 0.1px solid rgb(231, 231, 231);
        hyphens: auto;   
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
}