
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

    &--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 30px;
        animation-name: moveInLeft;
        animation-duration: 2s;
        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 4rem;
        }
    
    }
    &--sub{
        display: block;
        font-size: 20px;
        font-weight: 700 ;
        letter-spacing: 15.7px;
        animation-name: moveInRight;
        animation-duration: 2s;
        @include respond(phone){
            letter-spacing: .5rem;
            font-size: 1.5rem;
        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform:uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    transition: all .2s;
    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2rem;
    }

    &:hover{

        transform:skewY(3deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .3);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
}