.u-center-text{text-align: center;}
.u-margin-bottom-big{
     margin-bottom: 8rem;
     @include respond(tab-port){
        margin-bottom: 5rem!important;
     }} 
.u-margin-bottom-medium{
    margin-bottom: 5rem;
    @include respond(tab-port){
        margin-bottom: 3rem;
    }} 
.u-margin-bottom-small{ margin-bottom: 1.5rem!important;} 
.u-margin-top-big{margin-top: 8rem!important;}
.u-margin-top-medium{margin-top: 4rem!important;}
.u-margin-top-smal{margin-top: 1.5rem!important;}
