.section-about{
    background-color:$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;
    @include respond(tab-port){
       padding: 20rem 0;
     }
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.74),hsla(160, 93%, 57%, 0.705)),url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
    @include respond(tab-port){
        padding: 15rem 0;
      }
}
.section-tours{
    background-color:$color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top:-11.5rem;
    @include respond(tab-port){
        padding: 20rem 0 10rem 0;

      }
}
.section-stories{
    padding: 15rem 0;
    background-color: #eee;
    @include respond(tab-port){
        padding: 10rem 0;

      }

}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    @include respond(tab-port){

      }

}
.book{
    background-image: linear-gradient(105deg ,
                                     rgba($color-white, .9) 0%,   
                                     rgba($color-white, .9) 50%,   
                                     transparent 50%),
                                     url(../../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);


    @include respond(tab-land){
        
            background-image: linear-gradient(105deg ,
                                             rgba($color-white, .9) 0%,   
                                             rgba($color-white, .9) 65%,   
                                             transparent 65%),
                                             url(../../img/nat-10.jpg);
            background-size: cover;
    }
@include respond(tab-port){

    background-image: linear-gradient(to right ,
    rgba($color-white, .9) 0%,   
    rgba($color-white, .9) 100%),
    url(../../img/nat-10.jpg);
background-size: cover;
}
    &__form{
        width: 50%;
        padding: 6rem;
        @include respond(tab-land){
            width: 65%;
        }
        @include respond(tab-port){
            width: 100%;
        }
    }
}

